html {
    background-color: 121212;
}
.blog-header {
    background-color: 414141;
    padding-top: 10px;
    padding-bottom: 0px;
    
}
nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'roboto';
}

.blog-nav {
    text-align: center;
    
}
.blog-nav li {
    padding: 0 3%;
}
h1 {
            
    color: FFFFFF;
    font-size: 40;
    text-align: center;
    font-family: 'Abril Fatface';
    font-weight: 100;
    margin-top: 10px;
}

a {
    color: white;
    font-size: 25px;
    font-family: 'roboto';;

}
p {
    color: white;
    background-color: 121212;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'Roboto';
    margin: 15px;
}